@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@400;500;700&display=swap");

/*=============================================
=            utilities            =
=============================================*/
body {
  margin: 0;
  padding: 0;
  font-family: "Dancing Script", cursive;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

/*=====  End of utilities  ======*/

/*=============================================
=            header            =
=============================================*/
.top-section {
  background-image: url(./images/heroBG.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
}
.main-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px 0;
  align-items: center;
}
.main-header a {
  text-decoration: none;
  text-transform: capitalize;
}
.main-header nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header nav ul li a {
  font-size: 14px;
  color: #505f98;
  font-weight: 400;
}

.logo {
  justify-self: center;
}
.logo a {
  font-size: 26px;
  font-weight: 700;
}

.btn {
  justify-self: right;
}
.btn a {
  font-size: 12px;
  font-weight: 500;
  padding: 15px 60px;
  color: #ffffff;
  background-color: #111b47;
  border-radius: 2px;
}

/*=====  End of header  ======*/

/*=============================================
=            hero            =
=============================================*/

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 200px;
  padding-bottom: 250px;
}
.hero h1 {
  font-size: 50px;
  font-weight: 500;
  color: #091133;
  margin-top: 0px;
}
.hero p {
  font-size: 18px;
  font-weight: 400;
  color: #505f98;
  margin-bottom: 80px;
}

.hero-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero-btn > .btn {
  justify-self: left;
}

.hero-btn > .btn a {
  text-decoration: none;
}

.btnNewBG a {
  color: #091133;
  background-color: transparent;
  border: 1px solid #091133;
  font-size: 16px;
  font-weight: 500;
  border-radius: 2px;
}

/*=====  End of hero  ======*/

/*=============================================
=            light section            =
=============================================*/

.light-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px 0;
}

.light-content-left h2 {
  font-size: 36px;
  font-weight: 500;
  color: #091133;
}

.light-content-left p {
  color: #6f7cb2;
}

.light-content-left-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
  grid-column-gap: 20px;
}

.lightCLB_left h3,
.lightCLB_right h3 {
  color: #091133;
  font-size: 16px;
  font-weight: 500;
}
.lightCLB_left p,
.lightCLB_right p {
  color: #5d6970;
  font-size: 12px;
}

/*=====  End of light section  ======*/

/*=============================================
=            fast            =
=============================================*/

.fast-content {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-column-gap: 160px;
  padding: 100px 0;
}

/*=====  End of fast  ======*/
